

/* body */

body{
	width: 100%;
	margin: 0px;


}


/* bloc */

#blocpage{
	max-width:  800px;
	margin:auto;
	background-color: #FEFEFE;
	color: #454545;
	font-size: 20px;
	padding-top: 50px;
	
}

#pixel{
	font-size: 18px;
	bef()
}
#pixel1{
	font-size: 13px;

}
/* h1 */

#titre{
	margin-bottom: 8px;
}
#really{
	margin-top: 1px;
}



/* div images cat */

.bloccat{
	display: flex;
	flex-direction: auto;
}

#cat{
	padding-right: 40px;
}

#catp{
margin-top: 1px;
line-height: 26px;

}


}
.image{
	float: left;
	overflow: hidden;
	margin-right: 10px;
}
#imgtext{
	font-size: 12px;

}
	

/* gooddesigne */

.gooddesign{
	margin-left: 40px;
}

/*logo kopimi */
#logokopimi img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 45px;

}

